<!DOCTYPE HTML>
<html>
<head>
<title>个人中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %} 
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet'/>
<link href="{% static 'css/style.css' %}" rel='stylesheet'/>
<link href="{% static 'css/orstyle.css' %}" rel='stylesheet'/>
<link href="{% static 'css/personal.css' %}" rel='stylesheet'/>
<link href="{% static '/AmazeUI-2.4.2/assets/css/admin.css' %}" rel='stylesheet'/>
<link href="{% static '/AmazeUI-2.4.2/assets/css/amazeui.css' %}" rel='stylesheet'/>
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/menu_jquery.js' %}"></script>
<script src="{% static 'js/user_order.js' %}"></script>
<script src="{% static 'js/head.js' %}"></script>
</head>
<body>
	<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-order">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> / <small>Order</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">所有订单</a></li>

							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
										{% if not result %}
										<h1>您还未购买过任何东西，快去购买吧！</h1>
										{% endif %}
										{% for order in result %}
										{% if order.state == '0' %}<!--未付款-->
											<div class="order-status1">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{order.trade_id}}</a></div>
													<span>成交时间：{{order.time}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="/static/images/single{{order.edition_id}}_{{order.commodity_id}}.png" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="/commodity/?type=view_details&commodity_id={{order.commodity_id}}&account={{account}}">
																			<p>{{order.commodity_name}}</p>
																			<p class="info-little">版本：{{order.commodity_edition}}
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{order.commodity_price}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{order.number}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{order.total_price}}
																<p>含运费：<span>0.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">等待买家付款</p>
																	<p class="order-info"><a href="" onclick="Cancel('{{order.trade_id}}')">取消订单</a></p>

																</div>
															</li>
															<li class="td td-change">
																<a href="" onclick="Pay('{{order.trade_id}}')">
																<div class="am-btn am-btn-danger anniu">
																	一键支付</div></a>
															</li>
														</div>
													</div>

												</div>
											</div>	
										{% elif order.state == '1' %}
											<div class="order-status2">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{order.trade_id}}</a></div>
													<span>成交时间：{{order.time}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="/static/images/single{{order.edition_id}}_{{order.commodity_id}}.png" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="/commodity/?type=view_details&commodity_id={{order.commodity_id}}&account={{account}}">
																			<p>{{order.commodity_name}}</p>
																			<p class="info-little">版本：{{order.commodity_edition}}
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{order.commodity_price}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{order.number}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{order.total_price}}
																<p>含运费：<span>0.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change" onclick="Remind()">
																<div class="am-btn am-btn-danger anniu">
																	提醒发货</div>
															</li>
														</div>
													</div>

												</div>
											</div>
										{% elif order.state == '2' %}
											<div class="order-status3">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{order.trade_id}}</a></div>
													<span>成交时间：{{order.time}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="/static/images/single{{order.edition_id}}_{{order.commodity_id}}.png" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="/commodity/?type=view_details&commodity_id={{order.commodity_id}}&account={{account}}">
																			<p>{{order.commodity_name}}</p>
																			<p class="info-little">版本：{{order.commodity_edition}}
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{order.commodity_price}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{order.number}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{order.total_price}}
																<p>含运费：<span>0.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">卖家已发货</p>
																	<p class="order-info"><a href="">订单详情</a></p>
																	<p class="order-info"><a href="">查看物流</a></p>
																	<p class="order-info"><a href="#">延长收货</a></p>
																</div>
															</li>
															<li class="td td-change" onclick="Confirm('{{order.trade_id}}')">
																<div class="am-btn am-btn-danger anniu">
																	确认收货</div>
															</li>
														</div>
													</div>

												</div>
											</div>
										{% elif order.state == '3' %}
											<div class="order-status4">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{order.trade_id}}</a></div>
													<span>成交时间：{{order.time}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="/static/images/single{{order.edition_id}}_{{order.commodity_id}}.png" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="/commodity/?type=view_details&commodity_id={{order.commodity_id}}&account={{account}}">
																			<p>{{order.commodity_name}}</p>
																			<p class="info-little">版本：{{order.commodity_edition}}
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{order.commodity_price}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{order.number}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{order.total_price}}
																<p>含运费：<span>0.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="">订单详情</a></p>
																	<p class="order-info"><a href="">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change">
																<a href="/comment/?type=make_comment&trade_id={{order.trade_id}}">
																	<div class="am-btn am-btn-danger anniu">
																		评价商品</div>
																</a>
															</li>
														</div>
													</div>

												</div>
											</div>
										{% elif order.state == '4' %}
											<div class="order-status5">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{order.trade_id}}</a></div>
													<span>成交时间：{{order.time}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="/static/images/single{{order.edition_id}}_{{order.commodity_id}}.png" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="/commodity/?type=view_details&commodity_id={{order.commodity_id}}&account={{account}}">
																			<p>{{order.commodity_name}}</p>
																			<p class="info-little">版本：{{order.commodity_edition}}
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{order.commodity_price}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{order.number}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{order.total_price}}
																<p>含运费：<span>0.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="">订单详情</a></p>
																	<p class="order-info"><a href="">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change" onclick="Delete('{{order.trade_id}}')">
																<div class="am-btn am-btn-danger anniu">
																	删除订单</div>
															</li>
														</div>
													</div>

												</div>
											</div>
										{% elif order.state == '6' %}
											<div class="order-status0">
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{{order.trade_id}}</a></div>
													<span>成交时间：{{order.time}}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="/static/images/single{{order.edition_id}}_{{order.commodity_id}}.png" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="/commodity/?type=view_details&commodity_id={{order.commodity_id}}&account={{account}}">
																			<p>{{order.commodity_name}}</p>
																			<p class="info-little">版本：{{order.commodity_edition}}
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{order.commodity_price}}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{{order.number}}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">

																</div>
															</li>
														</ul>
														
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{{order.total_price}}
																<p>含运费：<span>0.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易关闭</p>
																</div>
															</li>
															<li class="td td-change" onclick="Delete('{{order.trade_id}}')">
																<div class="am-btn am-btn-danger anniu">
																	删除订单</div>
															</li>
														</div>
													</div>

												</div>
											</div>
										{% endif %}
										{% endfor %}
										</div>

									</div>

								</div>
								
							</div>

						</div>
					</div>
				</div>
				
			</div>
			<aside class="menu">
				<ul>
					<li class="person active" onclick="View_Order()">
						<a ><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person active">
						<a href="/home">返回首页</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
							<li> <a href="">个人信息</a></li>
							<li> <a href="">安全设置</a></li>
							<li> <a href="">地址管理</a></li>
							<li> <a href="">快捷支付</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-balance-scale"></i>我的交易</p>
						<ul>
							<li><a href="">订单管理</a></li>
							<li> <a href="">退款售后</a></li>
							<li> <a href="#" onclick="Comment_Management()">评价管理</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-dollar"></i>我的资产</p>
						<ul>
							<li> <a href="">我的积分</a></li>
							<li> <a href="">优惠券 </a></li>
							<li> <a href="">红包</a></li>
							<li> <a href="">账户余额</a></li>
							<li> <a href="">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-tags"></i>我的收藏</p>
						<ul>
							<li> <a href="">收藏</a></li>
							<li> <a href="">足迹</a></li>
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-qq"></i>在线客服</p>
						<ul>
							<li> <a href="">商品咨询</a></li>
							<li> <a href="">意见反馈</a></li>							
							
							<li> <a href="">我的消息</a></li>
						</ul>
					</li>
				</ul>

			</aside>
		</div>
	<br><br><br>
	<div class="grid_2">
		<div class="container"> 
			<div class="col-md-3 col_2">
				<h3>Stock Commodity<br>Categories</h3>
			</div>
			<div class="col-md-9 col_5">
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Abstract</a></li>
			            <li><a href="stock.html">Animals/Wildlife</a></li>
			            <li><a href="stock.html">The Arts</a></li>
			            <li><a href="stock.html">Backgrounds/Textures</a></li>
			            <li><a href="stock.html">Beauty/Fashion</a></li>
			            <li><a href="stock.html">Buildings/Landmarks</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Business/Finance</a></li>
			            <li><a href="stock.html">Celebrities</a></li>
			            <li><a href="stock.html">Editorial</a></li>
			            <li><a href="stock.html">Education</a></li>
			            <li><a href="stock.html">Food and Drink</a></li>
			            <li><a href="stock.html">Healthcare/Medical</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Holidays</a></li>
			            <li><a href="stock.html">Illustrations/Clip-Art</a></li>
			            <li><a href="stock.html">Industrial</a></li>
			            <li><a href="stock.html">Interiors</a></li>
			            <li><a href="stock.html">Miscellaneous</a></li>
			            <li><a href="stock.html">Model Released Only</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.html">Nature</a></li>
			            <li><a href="stock.html">Objects</a></li>
			            <li><a href="stock.html">Parks/Outdoor</a></li>
			            <li><a href="stock.html">People</a></li>
			            <li><a href="stock.html">Religion</a></li>
			            <li><a href="stock.html">Science</a></li>
		            </ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="grid_3">
	  <div class="container">
	  	 <ul id="footer-links">
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Royalty Free License</a></li>
			<li><a href="#">Extended License</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Support</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Categories</a></li>
         </ul>
         <p>Copyright &copy; 2015.Onlion Mall All rights reserved.</p>
	  </div>
	</div>
</body>
</html>	